*,
::after,
::before {
    box-sizing: border-box;
}
*,
ul {
    margin: 0;
    padding: 0;
}
html,
body {
    overflow-x: clip;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
canvas,
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
button,
input,
select,
textarea {
    font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: balance;
}
li {
    list-style: none;
    color: inherit;
    font-size: inherit;
}
p,
li,
figcaption {
    text-wrap: pretty;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.quiz-wrapper {
    margin-inline: auto;
    max-width: 90rem;
  /*   min-height: 100vh; */
    align-content: center;
    padding-block: 2rem;
}

.quiz {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 1rem;
}

.quiz__card {
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0.4rem 0.4rem 0 black;
    min-height: 15rem;
    max-width: 16rem;
    margin-inline: auto;
}

.quiz__question {
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    min-height: 5em;
}

.quiz__answers {
    display: grid;
    gap: 0.75rem;
}

.quiz__answer button {
    border: 1px solid black;
    box-shadow: 0.3rem 0.3rem 0 black;
    text-align: center;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    background-color: #f8b748;
    transition: all 0.15s ease-in-out;
}

.quiz__answer button:active {
    box-shadow: 0.1rem 0.1rem 0 black;
    transform: scale(0.9);
}

.quiz__answer button:hover {
    background-color: #e69f25;
}

.quiz__answer button.selected {
    background-color: #79ffc0;
}

.arrow-wrapper {
    width: 4rem;
    margin-inline: auto;
    margin-block: 1.5rem;
}

.answer__card {
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0.4rem 0.4rem 0 black;
    font-weight: 700;
    text-wrap: balance;
    text-align: center;
    min-height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 16rem;
    margin-inline: auto;
}

.segments {
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0.4rem 0.4rem 0 black;
    max-width: 84rem;
    margin-inline: auto;
    padding-bottom: 3rem;
}

.segments__title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-wrap: balance;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.segments__content {
    gap: 0.75rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.segments__content li {
    border: 1px solid black;
    box-shadow: 0.2rem 0.2rem 0 black;
    text-align: center;
    font-weight: bold;
    text-wrap: balance;
    font-size: 0.85rem;
    background-color: #f8b748;
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

.segments__content li.danger {
    background-color: #c15540;
}

.segments__content li.success {
    background-color: #79ffc0;
}

.refs {
    display: grid;
    max-width: 70rem;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    gap: 2rem;
    padding-bottom: 5rem;
}

.ref {
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 0.4rem 0.4rem 0 black;
    text-wrap: balance;
    text-align: center;
    min-height: 24rem;
    width: 28rem;
    margin-inline: auto;
    font-weight: 700;
}

.ref__title {
    text-transform: uppercase;
}

.ref__description {
    padding-block: 1rem;
    border-bottom: 2px solid black;
    text-wrap: balance;
}

.ref__list-title {
    text-transform: uppercase;
    margin-block: 1rem;
}

.ref__list {
    display: grid;
    gap: 0.3rem;
}

.ref__list li {
    list-style: disc inside;
    text-align: left;
}